node_modules/**/*
.expo
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
__generated__

# macOS
.DS_Store

eas.json
app.json
GoogleService-Info.plist
google-services.json

.tmp
.expo-shared

assets/adaptive.png
assets/logo.png
assets/notification.png
assets/splash.png

dist/
android/
ios/

config.json
